body {font-family: Arial, Helvetica, sans-serif;}
.container{
	text-align: center
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block ;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.loginbtn {
    background-color: #c9c614;
    
}

.cancelbtn{
	background-color: #b55812;
	width: 80px;
	
}
button{
	color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80px;
}